<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="CDVI:ConnectionString" value="Data Source={CDVIdatabase};User ID={username};Password={password}" />
    </appSettings>
</configuration>