<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Lyca2CoreHrApiTask.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="CDVI:ConnectionString" value="Data Source=Server\Instance;User ID={username};Password={password}" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Lyca2CoreHrApiTask.Properties.Settings>
      <setting name="CdviDbTimeout" serializeAs="String">
        <value>00:03:00</value>
      </setting>
      <setting name="CoreHrApiBaseUri" serializeAs="String">
        <value>https://api.corehr.com/</value>
      </setting>
      <setting name="CoreHrApiOAuthTokenEndpoint" serializeAs="String">
        <value>https://api.corehr.com/ws/tenant/corehr/oauth/token</value>
      </setting>
      <setting name="CoreHrApiClockingEndpoint" serializeAs="String">
        <value>ws/tenant/corehr/v1/clocking/user/</value>
      </setting>
      <setting name="CoreHrApiBase64EncodedAppCredentials" serializeAs="String">
        <value>Base64EncodedToken</value>
      </setting>
      <setting name="CoreHrApiTokenExpiryTolerance" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="SmtpDomain" serializeAs="String">
        <value>smtp.domain.com</value>
      </setting>
      <setting name="SmtpPort" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="SmtpUN" serializeAs="String">
        <value>account</value>
      </setting>
      <setting name="SmtpPW" serializeAs="String">
        <value>password</value>
      </setting>
      <setting name="SmtpDefaultFromName" serializeAs="String">
        <value>Service Name</value>
      </setting>
      <setting name="SmtpDefaultFromEmail" serializeAs="String">
        <value>service@domain.com</value>
      </setting>
      <setting name="SmtpDefaultToEmail" serializeAs="String">
        <value>devops@domain.com</value>
      </setting>
      <setting name="RecordScopeLastXMinutes" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DefaultExecutionIsSilent" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultExecutionPostLastXHours" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DefaultTimeZoneOffset" serializeAs="String">
        <value>+00:00</value>
      </setting>
      <setting name="DefaultDnsRefreshTimeoutMinutes" serializeAs="String">
        <value>1</value>
      </setting>
    </Lyca2CoreHrApiTask.Properties.Settings>
  </applicationSettings>
</configuration>